# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Local artifacts
*.zip
build_main.py
division.md

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
